{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags static %}
{% block body_class %}template-blog{% endblock %}

{% block content %}
<div class="page-container">
<div class="container">
    {% include "breadcrumbs.html" %}
    <div class="userinfo">
        <p>Published by: {{owner_fullname}}</p>
        <p>Published on: {{page.first_published_at|date:"D d M Y"}}</p>
    </div>
    <div class="float-right">
        {% image page.feed_image width-300 %}
    </div>
    <div class="title-header">
        <h1 class="display1">{{page.title}}</h1>
    </div>
    <p class="text">
        {{ page.body|richtext}}
    </p>

</div>
<div class="container">
  <hr>
  <div class="row">
    <h4>Share this with friends</h4>
  </div>
  <div class="row">
  <!-- Twitter Share Button -->
  <a href="https://twitter.com/share" class="twitter-share-button"
     data-show-count="false">Tweet</a>
  <script async src="//platform.twitter.com/widgets.js" charset="utf-8">
  </script>
</div>
</div>
</div>
{% endblock %}
