{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags static %}
{% block body_class %}template-generic{% endblock %}

{% block content %}

<div class="container page-container">
    <div class="userinfo">
        <span>Published by:</span><span>{{page.owner.first_name}} {{page.owner.last_name}}</span>
        <span>Published at:</span><span>{{page.first_published_at|date:"D d M Y"}}</span>
    </div>
    <div class="title-header">
        <h1 class="display1">{{page.title}}</h1>
    </div>
    <p class="text">
        {{ page.body|richtext}}
    </p>

</div>

{% endblock %}