{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags static menu_tags %}
{% block body_class %}template-club{% endblock %}

{% block content %}
<div class="container page-container">
      {% include "breadcrumbs.html" %}
      <div>
          <h1>{{ page.title }}</h1>
          <p>{{ page.intro |richtext}}</p>
      </div>
      <div class="cards">
          {% for club in page.club.all %}
          <div class="card" style="width: 20rem;">
            {% image club.image height-500 class="img-thumbnail card-img-top" %}
              <div class="card-block">
                  <h4 class="card-title">{{ club.name }}</h4>
                  <p class="card-text">{{ club.description |richtext}}</p>
                  {% if club.facebook_link %}
                     <a href="{{club.facebook_link}}" class="btn btn-primary">Facebook</a>
                  {% endif %}
                  {% if club.twitter_link %}
                     <a href="{{club.twitter_link}}" class="btn btn-primary">Twitter</a>
                  {% endif %}
                  {% if club.email_address %}
                     <a href="mailto://{{club.email_address}}" class="btn btn-primary">Email</a>
                  {% endif %}
              </div>
          </div>
          {% endfor %}
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script type="text/javascript" src='{% static "js/isotope.pkgd.min.js" %}' defer></script>
<script type="text/javascript" src='{% static "js/club.js" %}' defer></script>
{% endblock %}
