{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags static menu_tags %}
{% block body_class %}template-generic{% endblock %}

{% block content %}
<div class="container page-container">
      {% include "breadcrumbs.html" %}
    <div class="title-header">
        <h1 class="display1">{{page.title}}</h1>
        <h2 class="subtitle">{{page.subtitle}}</h2>
    </div>
    <p class="text">
        {{ page.body|richtext}}
    </p>

    {% for block in page.sections %}
      {% include_block block with block_id=block.id %}
    {% endfor %}

</div>
{% endblock %}
