{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags static menu_tags %}
{% block body_class %}template-generic{% endblock %}

{% block content %}

<div class="container page-container">
    {% section_menu max_levels=1%}
    <div class="container">
      <h1>{{page.title}}</h1>
      <p>{{page.intro | richtext }}</p>
    </div>
    <div class="container">
      {% for link in page.links.all %}
        <figure class="snip1580">
        {% image link.image fill-300x300 class="img-thumbnail" %}
        <figcaption>

            <h4>{{ link.name }}</h4>
            <p class=>{{ link.description | richtext}}</p>
            <a href="{{ link.destination_page.url }}"></a>
        </figcaption>
      </figure>
      {% endfor %}

    </div>
</div>
{% endblock %}
