{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags static menu_tags %}
{% block body_class %}template-generic{% endblock %}

{% block content %}

<div class="container page-container">
    {% include "breadcrumbs.html" %}
    <div class="container">
      <h1>{{page.title}}</h1>
      <p>{{page.intro | richtext }}</p>
    </div>
    <div class="container">
      {% for card in page.people.all %}
      <div>
        <div class="col-sm-12 col-md-12 col-lg-3">
            {% image card.image fill-200x200%}
        </div>
        <div class="col-sm-12 col-md-12 col-lg-9">
            <h3 class="">{{ card.rolename }}: {{ card.name }}</h3>
            <p class="">{{card.description}}</p>
            <a href="mailto://{{card.email}}" class="btn btn-primary">Email: {{ card.email }}</a>
            {% if card.facebook_link %}
            <a href="{{card.facebook_link}}" class="btn btn-info">Facebook</a>
            {% endif %}
        </div>
      </div>
      {% endfor %}
    </div>
</div>
{% endblock %}
