[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "~=3.0"
gunicorn = "*"
whitenoise = "*"
dj-database-url = "*"
django-widget-tweaks = "*"
django-storages = "*"
"boto3" = "*"
psycopg2-binary = "*"
django-environ = "*"
wagtailmenus = "~=3.0.2"
wagtail = "~=2.8"
django-multiselectfield = "*"
channels = "*"

[dev-packages]

[requires]
python_version = "3.7"
