[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
wagtail = "*"
gunicorn = "*"
whitenoise = "*"
dj-database-url = "*"
django-widget-tweaks = "*"
django-storages = "*"
wagtailmenus = {version = "==2.11"}
"boto3" = "*"
psycopg2-binary = "*"
django-environ = "*"
memcached = "*"

[dev-packages]

[requires]
python_version = "3.7"
