[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
wagtail = "*"
gunicorn = "*"
wagtailmenus = "*"
whitenoise = "*"
dj-database-url = "*"
django-widget-tweaks = "*"
django-storages = "*"
"psycopg2" = "*"

[dev-packages]

[requires]
python_version = "3.7"
