appdirs==1.4.3
beautifulsoup4==4.6.0
boto3==1.4.4
botocore==1.5.86
dj-database-url==0.4.2
Django==1.11.3
django-appconf==1.0.2
django-compressor==2.1.1
django-libsass==0.7
django-modelcluster==3.1
django-storages==1.6.3
django-taggit==0.22.1
django-treebeard==4.1.2
django-widget-tweaks==1.4.1
djangorestframework==3.6.3
docutils==0.13.1
gevent==1.2.2
greenlet==0.4.12
gunicorn==19.7.1
html5lib==0.999999999
jmespath==0.9.3
libsass==0.13.2
packaging==16.8
Pillow==4.2.1
psycopg2==2.7.1
pyparsing==2.2.0
python-dateutil==2.6.1
python-http-client==2.4.0
pytz==2017.2
rcssmin==1.0.6
requests==2.18.1
rjsmin==1.0.12
s3transfer==0.1.10
sendgrid==4.2.0
sendgrid-django==4.0.4
six==1.10.0
Unidecode==0.04.21
wagtail==1.11.1
wagtailmenus==2.3.1
whitenoise==3.3.0
Willow==0.4
