appdirs==1.4.3
beautifulsoup4==4.5.3
boto3==1.4.4
botocore==1.5.78
dj-database-url==0.4.2
Django==1.10.6
django-appconf==1.0.2
django-compressor==2.1.1
django-libsass==0.7
django-modelcluster==3.0.1
django-storages==1.6.3
django-taggit==0.22.0
django-treebeard==4.1.0
djangorestframework==3.6.2
docutils==0.13.1
gunicorn==19.7.1
html5lib==0.999999
jmespath==0.9.3
libsass==0.8.2
packaging==16.8
Pillow==3.2.0
psycopg2==2.6
pyparsing==2.2.0
python-dateutil==2.6.0
python-http-client==2.4.0
pytz==2016.10
rcssmin==1.0.6
requests==2.13.0
rjsmin==1.0.12
s3transfer==0.1.10
sendgrid==3.6.5
sendgrid-django==4.0.4
six==1.10.0
Unidecode==0.4.20
wagtail==1.11
wagtailmenus==2.3.1
whitenoise==3.3.0
Willow==0.4
