{% extends "base.html" %}
{% load static wagtailcore_tags %}

{% block body_class %}template-searchresults{% endblock %}

{% block title %}Search{% endblock %}

{% block content %}

  <div class="container">
    <h1>Search:</h1>

    <div class="container">
      <form action="{% url 'search' %}" method="get">
        <input class="form-control" type="text" name="query"{% if search_query %} value="{{ search_query }}"{% endif %}>
        <input class="btn btn-primary" type="submit" value="Search">
      </form>
  </div>

  <br>
    {% if search_results %}
        <div class="list-group">
            {% for result in search_results %}
            <a href="{% pageurl result %}" class="list-group-item list-group-item-action flex-column align-items-start">
               <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">{{ result }}</h5>
                </div>

                  {% if result.search_description %}
              <p class="mb-1">
                      {{ result.search_description|safe }}
              </p>
                  {% endif %}
                </a>
            {% endfor %}
        </div>

        {% if search_results.has_previous %}
            <a href="{% url 'search' %}?query={{ search_query|urlencode }}&amp;page={{ search_results.previous_page_number }}">Previous</a>
        {% endif %}

        {% if search_results.has_next %}
            <a href="{% url 'search' %}?query={{ search_query|urlencode }}&amp;page={{ search_results.next_page_number }}">Next</a>
        {% endif %}
    {% elif search_query %}
        No results found
    {% endif %}


  </div>
{% endblock %}
