{% load menu_tags static %}
<nav class="navbar navbar-toggleable-md navbar-inverse bg-danger">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/"><img src="{% static 'images/badger-logo.png'%}" class="d-inline-block" /><span class="h2">Aidan's JCR</span></a>

    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav mr-auto">
        {% for item in menu_items %}
        <li class="nav-item {{ item.active_class }}">
          <a class="nav-link" href="{{ item.href }}">{{ item.text }}</a>
        </li>
        {% endfor %}
      </ul>
      <form class="form-inline" action="{% url 'search' %}" action="get">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" name="query">
        <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
