{% load menu_tags static %}

<!-- First, the website header -->
<div class="container-fluid bg-darkred" style="padding-top: 6px; padding-bottom: 6px;">
  <div class="aidans-header-row row justify-content-center">
    <a href="/"><img src="{% static 'images/college-emblem.svg'%}" class="d-inline-block" style="width: 100px;" /><span class="h5 navbar-brand-text">St Aidan's JCR</span></a>
  </div>
</div>

<!-- Then the navbar itself -->
<nav class="navbar navbar-expand-lg navbar-light bg-light" style="margin: 0 auto; text-align: center;">
  <div class="navbar-center-block">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#aidans-navbar-collapse" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="aidans-navbar-collapse">
        <ul class="navbar-nav mr-auto">
          {% for item in menu_items %}
          <li class="nav-item {{ item.active_class }} {% if item.has_children_in_menu %}dropdown{% endif %}">
            <a class="nav-link" href="{{item.href}}">{{ item.text }}</a>
          {% if item.has_children_in_menu %}
            <div class="dropdown-menu">
              {% sub_menu item %}
            </div>
          {% endif %}
          </li>
          {% endfor %}
        </ul>
        <form class="form-inline" action="{% url 'search' %}">
          <div class="form-group">
            <input type="search" class="form-control" name="query" placeholder="Search" aria-label="Search">
          </div>
          <button type="submit" class="btn btn-secondary">Submit</button>
        </form>
      </div>
    </div>
  </div>
</nav>





<!--




<nav class="navbar navbar-toggleable-md navbar-inverse bg-darkred"> -->

<!-- <form class="form-inline" action="{% url 'search' %}" action="get">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" name="query">
        <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav> -->
