/*html,body{height:100%;}*/
/*.carousel,.item,.active{height:100%;}*/
/*.carousel-inner{height:100%;}*/
body {
  margin: 0 0 100px;
}
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 7rem !important;
}

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container {
  width: auto;
  max-width: 680px;
  margin-top: 30px;
}
