{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags static widget_tweaks %}
{% block body_class %}template-form{% endblock %}

{% block content %}

<div class="container page-container">
    <h1>{{ page.title }}</h1>
    {{ page.intro|richtext }}
    <hr />
    <form class="form" action="{% pageurl page %}" method="POST">
        {% csrf_token %}
        {% for field in form %}
          <fieldset class="form-group">
                  <label class="h3" for="id_{{ field.name }}">{{ field.label }}</label>
                  <p class="form-text muted">{{ field.help_text }} </p>
                  {{ field |add_class:"form-control" }}
          </fieldset>
        {% endfor %}
        <input type="submit" class="btn btn-primary" value="Submit!">
    </form>
</div>

{% endblock %}
