{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags static %}
{% block body_class %}template-password-required{% endblock %}

{% block content %}
<div class="container">
  <h1>Password required</h1>
       <p>You need a password to access this page.</p>
       <form action="{{ action_url }}" method="POST">
           {% csrf_token %}

           {{ form.non_field_errors }}

           <div class="form-group">
               {{ form.password.errors }}
               {{ form.password.label_tag }}
               {{ form.password }}
           </div>

           {% for field in form.hidden_fields %}
               {{ field }}
           {% endfor %}
           <input class="btn btn-primary" type="submit" value="Continue" />
       </form>
</div>

{% endblock %}
