{% load static wagtailuserbar navbar menu_tags %}

<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="google-site-verification" content="PWemSoB773wUBFm2vxsBvI6tewkO5fxmM1LKCp9otOo" />
  <link rel="apple-touch-icon" sizes="76x76" href="{% static 'favicons/apple-touch-icon.png' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicons/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicons/favicon-16x16.png' %}">
  <link rel="manifest" href="{% static 'favicons/manifest.json' %}">
  <link rel="mask-icon" href="{% static 'favicons/safari-pinned-tab.svg' %}" color="#85969c">
  <meta name="theme-color" content="#ff2211">
  <meta name="description" content="{% if self.search_description %}{{ self.search_description }}{% endif %}">
  <title>
    {% block title %}
    {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
    {% endblock %}
    {% block title_suffix %}
    {% with self.get_site.site_name as site_name %}
    {% if site_name %}- {{ site_name }}{% endif %}
    {% endwith %}
    {% endblock %}
  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  {# Global stylesheets #}
  <link rel="stylesheet" type="text/css" href="{% static 'css/jcrsite.css' %}" async>
  <!-- Latest compiled and minified CSS -->
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flat-ui/2.3.0/css/flat-ui.css">

  {% block extra_css %}
  {# Override this in templates to add extra stylesheets #}
  {% endblock %}

  <script>
    (function(i, s, o, g, r, a, m) {
      i['GoogleAnalyticsObject'] = r;
      i[r] = i[r] || function() {
        (i[r].q = i[r].q || []).push(arguments)
      }, i[r].l = 1 * new Date();
      a = s.createElement(o),
        m = s.getElementsByTagName(o)[0];
      a.async = 1;
      a.src = g;
      m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-102412552-1', 'auto');
    ga('send', 'pageview');
  </script>
</head>

<body class="{% block body_class %}{% endblock %}">
  {% wagtailuserbar %}
  {% block menu %}
  {% main_menu %}
  {% endblock %}
  {% block content %}
  {% endblock %}
  {% include 'footer.html' %}
  {# Global javascript #}

  <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  <script type="text/javascript" src='{% static "js/jcrsite.js" %}'></script>
  <script type="text/javascript" src='{% static "js/badger-time.js" %}'></script>
  {% block extra_js %}
  {# Override this in templates to add extra javascript #}
  {% endblock %}
</body>

</html>
