{% load static %}
<footer>
  <div class="footer-container bg-darkred">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4">
          <h2>Contact us</h2>
          <p>
            St Aidan's College
          </p>
          <p>
            Windmill Hill
          </p>
          <p>
            Durham
          </p>
          <p>
            DH1 3LJ.
          </p>
          <p>
            Email: <a href="mailto://aidans.president@durham.ac.uk">aidans.president@durham.ac.uk</a>
          </p>
          <p>
            Tel: +44 (0) 191 334 5769
          </p>
        </div>
        <div class="col-md-4">
          <h2>Social Media</h2>
          <div>
            <p>
              <a href="https://www.facebook.com/aidans.jcr/"> <img class="img-fluid" src="{% static 'jcrsite/images/fb_logo.png'%}" alt="Facebook Logo" />Like us on Facebook</a>
            </p>
            <p>
              <a href="https://twitter.com/aidansjcr" class="twitter-follow-button" data-size="large" data-show-screen-name="true" data-show-count="false">Follow us on Twitter</a>
            </p>
          </div>
        </div>
        <div class="col-md-4">
          <h2>More links</h2>
          <div>
            <p>
              <a href="https://www.dur.ac.uk/st-aidans.college/">Official College Website</a>
            </p>
            <p>
              <a href="https://www.dunelm.org.uk/St-Aidans-College/dunelm-home">Alumni</a>
            </p>
            <p>
              <a href="http://community.dur.ac.uk/st-aidans.scr/">Senior Common Room</a>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row bottom justify-content-center">
      Copyright &copy; St Aidan's JCR. Designed by &#160;<a href="http://www.ohmgeek.co.uk">Ryan Collins</a>. Maintained by Team Tech.
      Photography by &#160;<a href="https://laurenpolsonphotography.com/">Lauren Polson Photography</a>.
    </div>
  </div>
</footer>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
