{% load static %}
<footer>
  <div class="container-fluid">
    <div class="d-flex justify-content-around flex-wrap">
      <div class="p-2">
        <h2>Contact us</h2>
        <p>
          St Aidan's College
        </p>
        <p>
          Windmill Hill
        </p>
        <p>
          Durham
        </p>
        <p>
          DH1 3LJ.
        </p>
        <p>
          Email: <a href="mailto://president@st-aidans.com">president@st-aidans.com</a>
        </p>
        <p>
          Tel: +44 (0) 191 334 5769
        </p>
      </div>
      <div class=" p-2">
        <h2>Social Media</h2>
        <div>
          <p>
            <a href="https://www.facebook.com/aidans.jcr/">Facebook</a>
          </p>
          <p>
            <a href="https://twitter.com/aidansjcr">Twitter</a>
          </p>
        </div>
      </div>
      <div class=" p-2">
        <h2>More links</h2>
        <div>
          <p>
            <a href="https://www.dur.ac.uk/st-aidans.college/">Official College Website</a>
          </p>
          <p>
            <a href="https://www.dunelm.org.uk/St-Aidans-College/dunelm-home">Alumni</a>
          </p>
          <p>
            <a href="http://community.dur.ac.uk/st-aidans.scr/">Senior Common Room</a>
          </p>
        </div>
      </div>
  </div>
    <div class="row bottom">
      <p class="col">
        Copyright &copy; St Aidan's JCR. Designed by <a href="http://www.ohmgeek.co.uk">Ryan Collins</a>.
      </p>
    </div>
  </div>
</footer>
