{% extends "home/user/user_base.html" %}
{% load wagtailcore_tags wagtailimages_tags static %}

{% block content %}


<div class="container">
  <div class="row">

    <h3>Announcements</h3>

    <div style="border-style:solid;border-color:blue;">
      <h4>Make an announcement</h4>
      <form method="post" action="/app/announcements" enctype="multipart/form-data">
        {% csrf_token %}

        <table>
          <tr>
            <td>Title</td>
            <td><input type="text" name="title" required /></td>
          </tr>

          <tr>
            <td>Message</td>
            <td><input type="text" name="message" required /></td>
          </tr>

          <tr>
            <td>Upload an image</td>
            <td><input type="file" name="image" id="fileToUpload"></td>
          </tr>
        </table>

        <input type="submit" value="Post" />
        <input type="hidden" name="function" value="upload"/>
        <input type="hidden" name="next" value="{{ next }}" />
      </form>
    </div>

    <div style="border-style:solid;border-color:green;">
      <h4>Past Announcements</h4>
        <!-- Put the past announcements here -->
          {% for announcement in announcements %}

            <div>
              <h6>{{ announcement.title }}</h6>
              <p>{{ announcement.message }}</p>
              <img src="{{ announcement.image.url }}"/>

              <form method="post" action="/app/announcements">
                {% csrf_token %}
                <input type="submit" value="Delete" />
                <input type="hidden" name="function" value="delete"/>
                <input type="hidden" name="announcementId" value="{{ announcement.pk }}"/>
              </form>
            </div>

          {% endfor %}
    </div>

  </div>
</div>


{% endblock %}
