{% extends "home/user/user_base.html" %}
{% load wagtailcore_tags wagtailimages_tags static %}

{% block content %}


<div class="container">
  <div class="row">

    <h3>Admin Section Login Required</h3>

    <form method="post" action="/user/login/">
      {% csrf_token %}
      <table>

        <tr>
          <td>Username</td>
          <td><input type="text" name="username" /></td>
        </tr>

        <tr>
          <td>Password</td>
          <td><input type="text" name="password" /></td>
        </tr>

        {% if error != '' %}
          <tr>
            <td>
              <p>{{ error }}</p>
            </td>
          </tr>
        {% endif %}
      </table>


      <input type="submit" value="login" />
      <input type="hidden" name="next" value="{{ next }}" />
    </form>

  </div>
</div>


{% endblock %}
