{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags static menu_tags %}
{% block body_class %}template-generic{% endblock %}

{% block content %}
<div class="container page-container">
  <h1>Event Booking</h1>
  <p>
    You can book events here. Simply insert the required information, and click submit.
    <emph>If you already have a group, please enter the group number, as this is required.</emph>
  </p>
  {% if error %}
  <div class="alert alert-danger" role="alert">
    <strong>Error</strong> {{ error }}
  </div>
  {% endif %}
  <form id="new-booking-form" action="" method="post">
         {% csrf_token %}
         <table class="table">
         {{ form }}
         <tr>
           <td>
             <b>Group</b>
           </td>
           <td>

             <label class="form-check-label">
               <input type="radio" class="form-check-input" name="optionsRadios" id="new-group-id-btn" value="New Group ID" checked />
               Create New Group
             </label>
             <label class="form-check-label">
               <input type="radio" class="form-check-input" name="optionsRadios" id="existing-group-id-btn" value="Existing Group ID"/>
               Use Existing Group
             </label>
           </td>
         </tr>
         <tr id="group-settings"></tr>
         </table>
         <input type="submit" class="btn btn-primary" value="Submit" />
  </form>
</div>
{% endblock %}
{% block extra_js %}
<script src="{% static 'js/formals-booking.js' %}" defer></script>
{% endblock %}
