{% extends "dash_base.html" %}

{% block content %}
  <div class="w3-container w3-teal">
      <h1>Your JCR Account</h1>
      <p>Information about your JCR account is displayed here. If you have any questions,
      please contact the <a href="mailto://treasurer@st-aidans.com">JCR Treasurer.</a></p>
  </div>
  <div>
  <div class="w3-row">
    <div class="w3-third w3-card">
      <header class="w3-container w3-blue">
        <h2>Outstanding Payments</h2>
      </header>
      <ul class="w3-ul">
        <li>Formal 2017 - £6.00</li>
      </ul>
      <footer class="w3-container">
        <p><a class="w3-button" href="#">Pay/view outstanding payments...</a></p>
      </footer>
    </div>

    <div class="w3-third w3-card">
      <header class="w3-container w3-blue">
        <h2>Paid</h2>
      </header>
      <ul class="w3-ul">
        <li>Formal 2017 - £6.00</li>
      </ul>
    </div>


  </div>
</div>

{% endblock %}
