{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags static menu_tags %}
{% block body_class %}template-login{% endblock %}

{% block content %}
<div class="container page-container">
    <div class="title-header">
        <h1>Aidan's! What is your username (and password?).</h1>
        <p class="subtitle">Please use your CIS username, and CIS password to log in.
          If you have a st-aidans.com account, please use your full email address as the username.
        </p>
    </div>
    <h2>Login</h2>
      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Login</button>
    </form>
</div>
{% endblock %}
